<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap_3.3.7.css}" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script th:src="@{/static/js/jquery_2.1.1.js}" src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script th:src="@{/static/js/bootstrap_3.3.7.js}" src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <!-- 导入横向导航栏 -->
    <div class="row" th:replace="book/header :: header"></div>
    <!-- 一行排版 -->
    <div class="row">

        <div class="col-md-3">
            <!-- 导入横向导航栏 -->
            <div th:with="currentPage=${currentPage}">
                <div th:replace="book/navbar :: navbar"></div>
            </div>
        </div>

        <div class="col-md-9">
            <h2 class="col-md-offset-3">书籍列表</h2>
            <!-- 表格数据 -->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>格式</th>
                    <th th:if="${param.delBooked}" class="alert alert-success" th:text="${param.delBooked}+'已经删除'"></th>
                    <th th:if="${param.modBooked}" class="alert alert-success" th:text="${param.modBooked}+'已经修改'"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.author}"></td>
                    <td th:text="${book.format}"></td>
                    <td><a th:href="@{'/books/toMod/' + ${book.id}}" class="btn btn-primary">修改</a>
                        /
                        <a
                           data-toggle="modal"
                           data-target="#DeleteModel"
                           class="btn btn-danger">删除</a>
                        <!--模态框-->
                        <div class="modal fade" id="DeleteModel" tabindex="1" role="dialog" aria-labelledby="DeleteModel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">是否确认删除</h4>
                                    </div>
                                    <div class="modal-body">
                                        此操作无法撤销!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <a type="button" class="btn btn-primary" th:href="@{'/books/del/'+${book.id}}">提交</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--分页-->
            <nav aria-label="Page navigation">

                <ul class="pagination">
                    <!-- 只想单纯的无法点击，似乎有点复杂了,可惜disabled只能是让它显示无法点击，实际上还是能够点击的 -->
                    <li th:class="${currentPage == 1} ? 'disabled':' '">
                        <a class="page-link"
                           th:href="@{'/books/list?page='+${currentPage - 1}}"
                           aria-label="Previous"
                           th:if="${currentPage!=1}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <span aria-hidden="true" th:if="${currentPage==1}">&laquo;</span>

                    </li>
                    <!-- TODO 页数过多的话可以增加一个折叠功能 -->
                    <li th:each="page : ${#numbers.sequence(1, totalPages)}" th:class="${currentPage == page} ? 'active' : ''">
                        <a class="page-link" th:href="@{'/books/list?page=' + ${page}}" th:text="${page}"></a>
                    </li>
                    <li th:class="${currentPage == totalPages} ? 'disabled' : ''">
                        <a class="page-link"
                           th:if="${currentPage != totalPages}"
                           th:href="@{'/books/list?page=' + ${currentPage + 1}}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <span th:if="${currentPage == totalPages}" aria-hidden="true">&raquo;</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>