<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <!-- 导入横向导航栏 -->
    <div class="row-fluid" th:replace="book/header :: header"></div>
    <div class="row">
        <div class="col-md-3">
            <!-- 导入纵向导航栏 -->
            <div th:replace="book/navbar :: navbar"></div>
        </div>
        <div class="col-md-7">
            <h2 class="text-center">修改信息</h2>
            <form action="../doMod" method="post" role="form" class="form-horizontal" th:object="${book}">

                <div class="form-group">
                    <label for="id" class="col-md-1 control-label">ID:</label>
                    <div class="col-md-11">
                        <input th:field="*{id}" type="text" class="form-control" id="id" name="id" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label for="title" class="col-md-1 control-label">书名:</label>
                    <div class="col-md-11">
                        <input th:field="*{title}" type="text"  class="form-control" id="title" name="title" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="author" class="col-md-1 control-label">作者:</label>
                    <div class="col-md-11">
                        <input th:field="*{author}" type="text"  class="form-control" id="author" name="author" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="format" class="col-md-1 control-label">格式:</label>
                    <div class="col-md-11">
                        <input th:field="*{format}" type="text"  class="form-control" id="format" name="format" required>
                    </div>
                </div>
                <div class="form-group">
                    <!-- TODO 内容有所改动的时候,令按钮有所反馈 -->
                    <div class="col-md-offset-1 col-md-1">
                        <button type="submit" class="btn btn-default">修改</button>
                    </div>
                    <div class="col-md-1">
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>