<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ch">
<head>
    <meta charset="UTF-8">
    <title>导航</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap_3.3.7.css}">
    <script th:src="@{/static/js/jquery_2.1.1.js}"></script>
    <script th:src="@{/static/js/bootstrap_3.3.7.js}"></script>
</head>
<body>

<div th:fragment="navbar">
    <nav class="sidebar">
        <ul class="nav nav-pills nav-stacked">
            <!-- TODO 因为引用的原因导致idea识别错误 暂且于Inspection止住提示-->
            <li th:class="${currentHtml == 'list'? 'active':''}"><a th:href="@{/books/list}">查看书籍</a></li>
            <li th:class="${currentHtml == 'add'? 'active':''}"><a th:href="@{/books/toAddView}">添加书籍</a></li>
        </ul>
    </nav>
    <div>
        <form th:action="@{/books/search}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="搜索书籍" id="keyword" name="keyword">
                <div class="input-group-btn">
                    <label for="keyword">
                        <button class="btn" type="submit">搜索</button>
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>