<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J" />
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <typeAlias alias="Books" type="com.wang.model.Books"/>
        <typeAlias alias="User" type="com.wang.model.User"/>
        <typeAlias alias="Bookshelf" type="com.wang.model.Bookshelf"/>
        <typeAlias type="com.wang.model.BookRatings" alias="BookRatings"/>
        <typeAlias type="com.wang.model.AuditRecords" alias="AuditRecords"/>
        <typeAlias type="com.wang.model.CommentVotes" alias="CommentVotes"/>
    </typeAliases>

</configuration>