#gushici {
    /* 调整gushici的字体大小 */
    /* font-size: 1.3em; */

    /* 加粗 */
    font-weight: bold;
}
/* 图标偏移 */
 i {
    margin-right: 5px;
}

/* 主评论头像大小 */
.avatar-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
/* 回复评论头像大小 */
.responsive-avatar-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
/* 正文 */
.content-custom {
    min-height: 100vh;
    /* background-color: rgb(161, 161, 161) */
}
/* 导航栏 */
.navbar-custom {
    background-color: rgb(218, 218, 218)

}
/* 侧边栏 */
.sidebar-custom{
    background-color: rgb(205, 205, 205)
}
/* 卡片颜色 */
.card-body{
    background-color: rgba(103, 98, 98, 0.823);
}
#loginModal .modal-content {
    color: #ffffff;
    background-color: rgba(103, 98, 98, 0.823); 
}
#loginModal .modal-content .modal-header{
    border: none;
}
#loginModal .modal-body {
    background-color: rgba(81, 77, 77, 0.874); 
}
#loginModal .modal-body input{
    background-color: rgba(103, 98, 98, 0.823); 
    border: none;
    color: #ffffff;
}
