<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.BookRatingsMapper">
    <insert id="insert" parameterType="BookRatings">
        insert into book_ratings
        set user_id = #{userId}, book_id = #{bookId},rating = #{rating}
    </insert>
    <update id="update" parameterType="BookRatings">
        update book_ratings
        set rating = #{rating}
        where user_id = #{userId} and book_id = #{bookId}
    </update>

    <delete id="delete" parameterType="BookRatings">
        delete from book_ratings where user_id = #{userId} and book_id = #{bookId}
    </delete>
    <select id="select" resultType="BookRatings">
        select * from book_ratings
        <where>
            <if test="userId != null and userId != 0">user_id = #{userId}</if>
            <if test="bookId != null and bookId != 0">and book_id = #{bookId}</if>
        </where>
    </select>
</mapper>