<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.UserMapper">

    <select id="selectAll" resultType="User">
        SELECT * FROM user_original_info ;
    </select>

    <select id="select" resultType="User">
        SELECT * FROM user_original_info ,user_dynamic_info
        WHERE user_original_info.id = #{id} AND user_id = user_original_info.id
    </select>

    <select id="selectPro" resultType="User">
        SELECT * FROM user_original_info ,user_dynamic_info
        <where>
            <if test="id != null and id != 0">id = #{id}</if>
            <if test="username != null and username != ''">AND username = #{username}</if>
            and user_id = user_original_info.id
        </where>
    </select>

    <insert id="insert" parameterType="User">
        INSERT INTO user_original_info
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="securityQuestion != null">security_question = #{securityQuestion},</if>
            <if test="accountStatus != null">account_status = #{accountStatus},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="roles != null">roles = #{roles},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="country != null">country = #{country},</if>
            <if test="dataOfBirth != null">data_of_birth = #{dataOfBirth},</if>
            <if test="socialMediaLinks != null">social_media_links = #{socialMediaLinks},</if>
            <if test="profilePicture != null">profile_picture = #{profilePicture, jdbcType=BLOB},</if>
        </set>
    </insert>

    <delete id="deleteOriginal" parameterType="int">
        DELETE FROM user_original_info  WHERE id = #{id}
    </delete>
    <delete id="deleteDynamic" parameterType="int">
        DELETE FROM user_dynamic_info WHERE user_id = #{id}
    </delete>

    <update id="update" parameterType="User">
        UPDATE user_original_info
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="securityQuestion != null">security_question = #{securityQuestion},</if>
            <if test="accountStatus != null">account_status = #{accountStatus},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="roles != null">roles = #{roles},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="country != null">country = #{country},</if>
            <if test="dataOfBirth != null">data_of_birth = #{dataOfBirth},</if>
            <if test="socialMediaLinks != null">social_media_links = #{socialMediaLinks},</if>
            <if test="profilePicture != null">profile_picture = #{profilePicture, jdbcType=BLOB},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="login" resultType="User">
        select * from user_original_info where username = #{username} and password = #{password}
    </select>

</mapper>